---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i');

html, body {
    font: none !important;
    font-family: 'Lora', serif;
}

body {
    padding-top: 0;
    font-size: 12pt;
}

.title {
    font-style: italic;
    font-weight: normal;
}

.wrapper {
    width: 80%;
    margin: 0 auto auto 50px;
    top: 0;
    position: absolute;
}

header, section {
    top: 0;
}

header, footer {
    width: 18%;
}

section {
    width: 70%;
}

/* Default size for columns (e.g. 1st) */
table td {
    width: 15%;
    vertical-align: top;
}

/* Size for columns (from 2nd onwards) */
table td + td {
    width: 85%;
    vertical-align: top;
}

th, td {
    border-bottom: none;   
}

li {
    padding-bottom: 10px;
}

h1 {
    padding-top: 50px;
    font-size: 24pt;
    font-weight: normal;
}

h2, h3, h4, h5, h6 {
    padding-top: 10px;
    font-weight: normal;
}

.menu-item {
    display: block;
    padding-bottom: 10px;
    font-size: 12pt;
}

.menu-item a {
    color: gray;
    text-decoration: none;
}

.menu-item a:hover, a:focus {
    color: black;
    font-weight: normal;
    text-decoration: none;
}

a {
    color: black;
}

a:hover, a:focus {
    color: black;
    font-weight: normal;
    text-decoration: underline;
}

img {
    width: 100%;
    object-fit: cover;
    height: 100px;
}
