<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    {% seo %}
    <title>{{ page.title | default: 'Li Nguyen' }}</title>
    <link
      rel="stylesheet"
      href="{{ '/style.css?v=' | append: site.github.build_revision | relative_url }}"
    />
    <script src="/assets/js/extras.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>
  </head>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      let currentPath = window.location.pathname;

      let navLinks = document.querySelectorAll(".nav-item");

      navLinks.forEach((link) => {
        let linkPath = new URL(link.href, window.location.origin).pathname;

        if (linkPath === currentPath) {
          link.classList.add("active");
        } else {
          link.classList.remove("active");
        }
      });
    });
  </script>

  <body>
    <div class="container">
      <div class="layout-container">
        <header class="header">
          <div class="header-left">
            <img src="/linguistics.png" alt="Linguistics Icon" class="icon" />
            <h2 class="header-title">L. Nguyen</h2>
          </div>
          <div class="header-right">
            <div class="social-icons">
              <a
                href="https://www.linkedin.com/in/li-nguyen-16309b50/"
                target="_blank"
              >
                <img src="linkedin.png" alt="LinkedIn" class="social-icon" />
              </a>
              <a
                href="https://scholar.google.com/citations?user=LIoJxgcAAAAJ&hl=en"
                target="_blank"
              >
                <img
                  src="/googlescholar.png"
                  alt="Google Scholar Icon"
                  class="social-icon"
                />
              </a>
              <a href="mailto:li.nguyen@ntu.edu.sg">
                <img src="/email.png" alt="Email Icon" class="social-icon" />
              </a>
            </div>
          </div>
        </header>

        <div class="content-wrapper">
          <div class="layout-content-container">
            <div class="profile-section">
              <div
                class="profile-image"
                style="background-image: url('boat.jpg')"
              ></div>
              <div class="profile-info">
                <p class="name">Li Nguyen</p>
                <p class="role">
                  Assistant Professor of Linguistics and Multilingual Studies at
                  <br />
                  Nanyang Technological University (NTU), Singapore
                </p>
              </div>
            </div>
            <div class="nav-links">
              <a class="nav-item" href="{{ '/' | absolute_url }}">
                <p class="nav-text">About</p>
              </a>
              <a class="nav-item" href="{{ '/' | absolute_url }}publications">
                <p class="nav-text">Publications</p>
              </a>
              <a class="nav-item" href="{{ '/' | absolute_url }}research">
                <p class="nav-text">Research Grants</p>
              </a>
              <a class="nav-item" href="{{ '/' | absolute_url }}contact">
                <p class="nav-text">Contact</p>
              </a>
            </div>

            <div class="content-body">{{ content }}</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
